.body{
    width: 1280px;
    margin: 0 auto;
}
.header-company-name{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.header-company-name a{
    color: #000000;
}
.header-company-name-text{
    color: aqua;
}
.nav-menu{
    background: #35444F;
    display: flex;
    justify-content: center;
    height: 100%;
}
.nav-menu-list li{
    display: inline-block;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 72px;
    border-right: 1px solid #FFFFFF;
    padding-right: 32px;
    padding-left: 32px;
}
.nav-menu-list a{
    color: #FFFFFF;
}
.nav-menu-list:nth-child(1){
    border-left: 1px solid #FFFFFF;
}
.nav-menu li:hover{
    background: #222F3A;
    transition: 0.5s linear;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 48px;
}
.nav-main{
    flex-direction: column;
    border: 1px solid #000000;
    margin-bottom: 200px;
}
.nav-main p{
    padding: 26px 104px 26px 44px;
    font-family: 'Roboto' , serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;

}
.nav-main a{
    color: #485863;
}
.nav-main p:hover{
    background: #DBDBDB;
    color: #35444F;
    transition: 0.5s linear;
}

.image-container{
    align-items: flex-end;
    margin-left: 50px;
    border:1px solid black ;
}
.image{
 margin: 75px 268px 73px 297px;
    width: 320px;
    height: 381px;
}
.image:hover{
    transform: scale(1.1);
    transition: 0.5s linear;
}
.paragraph{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 37px 0 34px 395px;
}
.footer-menu {
    background: rgba(99, 105, 110, 0.48);
    height: 72px;
    margin: 38px 0 98px;
    display: flex;
}
.footer-menu-list li{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    align-items: center;
    display: inline-block;
    margin-left: 30px;
}
.footer-menu-list a{
    color: #0C1927;
}
.footer-menu-list{
    padding: 20px 0 21px 40px;
}
.footer-menu-date{
    margin-left: 190px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}
.footer-menu a:hover{
    color:cornflowerblue;
    text-decoration: underline;
    transition: 0.5s linear;
}

